<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Time Left to be Alive</title>
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="../static/favicon_io/site.webmanifest">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <table>
                    <tr>
                        <td>
                            <h1>What a Time to be Alive!</h1>
                            <h3>Welcome, this is a Machine Learning Application.</h3>
                            <h4>It will predict how many years you
                                have left to live, based on gender, age and where you are.</h4>
                            <p>P.S.: It's not me, it's the algorithm (and the data).</p>
                            <p>YES😌, you can improve that number, just follow the icons 😉.</p>
                        </td>
                    </tr>
                    <tr>

                    </tr>
                </table>

                <form action="{{url_for('interact_life_expectancy')}}" method="post" id="submit_params">
                    <select name="sex" class="selectpicker">
                        <option value="{{default_sex}}" selected>{{default_sex}}</option>
                        <option>Both sexes</option>
                        <option>Female</option>
                        <option>Male</option>
                    </select>

                    <select name="age" class="selectpicker">
                        <option value="{{default_age}}" selected>{{default_age}}</option>
                        {% for age in range(1, 100) %}
                        <option value="{{age}}">{{age}}</option>
                        {% endfor %}
                    </select>

                    <select name="country" class="selectpicker">
                        <option value="{{default_country}}" selected>{{default_country}}</option>
                        {% for country in country_list %}
                        <option value="{{country}}">{{country}}</option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn btn-primary">Show me</button>
                    <button type="reset" class="btn btn-primary" onclick="location.href='/';"
                        value="Reset">Reset</button>
                </form>
                <br>
                <br>
                <h2>{{string_to_print}}</h2>
                <br>
                <table>
                    <tr>
                        {% for imag in healthy_image_list %}
                        {% if loop.index == 21 or loop.index == 41 or loop.index == 61 or loop.index == 81 %}
                    </tr>
                    <tr>
                        {% endif %}
                        <td><img src={{imag}} width="40" height="40"/td> {% endfor %} </tr> </table> </div> <footer>
                            <p>Made with <a href="https://www.who.int/gho/en/">World Health Organization data</a>, <a
                                    href="http://flask.palletsprojects.com/">Flask</a>, deployed to <a
                                    href="http://heroku.com/">Heroku</a>.</p>
                            <p><a href="https://github.com/sizigia/life_expectancy">Source code</a> available. Feel
                                free to PR!</p>
                            <div>
                                <a href="https://faustina.netlify.com/" target="_blank"><img
                                        src="../static/icons/earth.svg" alt="Website"></a>
                                <a href="https://www.linkedin.com/in/faustinagiaquinta/" target="_blank"><img
                                        src="../static/icons/linkedin.svg" alt="LinkedIn"></a>
                                <a href="https://twitter.com/miss_sizigia" target="_blank"><img
                                        src="../static/icons/twitter.svg" alt="Twitter"></a>

                            </div>
                            </footer>
            </div>
    </body>

</html>